
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/About.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="logo" src="~/Image/logo1.png">
            </div>

            <div class="col-sm-8">
                <div class="navigation">
                    <label for="toggle">&#9776;</label>
                    <input type="checkbox" id="toggle" />
                    <div class="menu">
                        <a href="/HomeStartPage/Index">Home</a>
                        <a href="/HomeStartPage/About">About</a>
                        <a href="/HomeStartPage/Services">Services</a>
                        <a href="/HomeStartPage/Contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <div class="about">
                    <h1>about us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac feugiat mauris. Morbi nisl nisi, condimentum id auctor<br> nec, molestie ac nisi. Pellentesque aliquet vitae lectus vel venenatis. Aliquam at luctus libero,<br> sit amet pulvinar diam. Pellentesque convallis, nisl ac vulputate varius,<br> leo leo fermentum magna, eu tincidunt risus risus at lacus.<br> Aenean vel commodo tellus.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

