
@{
    ViewBag.Title = "Index";
}

@*<h2>Home Page</h2>
<link href="~/Content/CustomStartPage.css" rel="stylesheet" />

<header>
    
    <div>

        <div class="main">
            <div class="logo">
                <img src="~/Image/logo.png">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Knowledge Hub</h1>
        </div>
        <div class="slogan">
            <h1>Where your Career Begins</h1>
        </div>
        <div class="button">
            <a href="#" class="btn">Log In</a>
            <a href="#" class="btn">Sign Up</a>
        </div>


    </div>

</header>*@



@*New Html*@

@*<html>
<head>
    <title>Front Page</title>
    <link href="FrontPage.css" rel="stylesheet" />
</head>
<body style="background-image:url(/Image/1.jpg); background-size: 100%">
    <header>
        <div class="main">
            <div class="logo">
                <img src="~/Image/OriginalLogo.png">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Knowledge Hub</h1>
        </div>
        <div class="slogan">
            <h1>Where your Career Begins</h1>
        </div>
        <div class="button">
            <a href="/LoginAndSignUp/LoginUser" class="btn">Log In</a>
            <a href="/LoginAndSignUp/SignUpUser" class="btn">Sign Up</a>
        </div>
    </header>
</body>
</html>*@


<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet">    
    <link href="~/Content/CustomStartPage.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="logo" src="~/Image/logo1.png">
            </div>

            <div class="col-sm-8">
                <div class="navigation">
                    <label for="toggle">&#9776;</label>
                    <input type="checkbox" id="toggle" />
                    <div class="menu">
                        <a href="/HomeStartPage/Index">Home</a>
                        <a href="/HomeStartPage/About">About</a>
                        <a href="/HomeStartPage/Services">Services</a>
                        <a href="/HomeStartPage/Contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">Knowledge Hub</h1>
                <h1 class="slogan">Where your Career Begins</h1>
                <div class="button">
                    <a href="/LoginAndSignUp/LoginUser" target="_blank" class="btn">Log In</a>
                    <a href="/LoginAndSignUp/SignUpUser" target="_blank" class="btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>