@model IEnumerable<KnowledgeHub.Models.GeneratedClassesByEF.TeacherRegisteredCours>

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <title>Teacher Class Room</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
       <link href="~/Content/teacherClassroom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="menu">
                    <img class="logo" src="Images/logo1.png">
                    <ul>
                        <li><a href="teacherDashboard.html">HOME</a></li>
                        <li><a href="teacherProfile.html" target="_blank">VIEW PROFILE</a></li>
                        <li><a href="teacherRegistration.html">REGISTRATION</a></li>
                        <li><a href="teacherTimeTable.html">TIME TABLE</a></li>
                        <li><a href="#">CLASS ROOM</a></li>
                        <li><a href="teacherLatestNews.html">LATEST NEWS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <h3>Class Room</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="class1">
                            <a href="#">
                                <div class="class11">
                                    <h4>Computer Programing</h4>
                                    <h6>Monday</h6>
                                    <h6>10am - 12am</h6>
                                    <p>Ahmed Raza</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="class2">
                            <a href="#">
                                <div class="class22">
                                    <h4>Marketing</h4>
                                    <h6>Tuesday</h6>
                                    <h6>12pm - 2pm</h6>
                                    <p>Ahmed Raza</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="class3">
                            <a href="#">
                                <div class="class33">
                                    <h4>Psychology</h4>
                                    <h6>Wednessday</h6>
                                    <h6>2pm - 4pm</h6>
                                    <p>Farhan Bukhari</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

