
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Student Portal</h1>
    <div> 
        @Html.ActionLink("Profile", "ViewProfile")
    </div>


</body>
</html>
