body
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Image/bg4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 auto;
}

.logo
{
    width: 200px;
    margin-top: 10px;
}

.menu
{
    margin-top: 50px;
    float: right;
}

.menu a
{
    padding: 9px 20px;
    transition: 1s;
    color: white;
    margin: 10px;
}

.menu a:hover
{
    background-color: #fb2525;
    color: black;
    font-weight: bolder;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;    
    width: 26px;
    float: right;
}
#toggle 
{
    display: none;
}

.about
{
    background-color: rgba(0,0,0,0.7);
    margin-top: 70px;
}

h1
{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
    color: gray;
    font-weight: bolder;
}

p
{
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: white;
    padding-bottom: 50px;
}

@media only screen and (max-width: 500px)
{
    label
    {
        cursor: pointer;
        display: block;
        color: white;
        font-size: 30px;
        margin-bottom: 70px;
    }

    .menu
    {
        display: none;
        text-align: center;
        width: 100%;
        margin-top: -40px;
    }

    .menu a 
    {
        display: block;
        text-align: center;
    }

    .menu a:hover
    {
        background-color: black;
        color: white;
    }

    #toggle:checked + .menu
    {
        display: block;
    }

    .logo
    {
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin-top: 10px;
    }

    body
    {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Image/bg4.jpg);
        background-size: cover;
        background-position: center;
        height: 110vh;
        margin: 0 auto;
    }

}