body
{
    background-image: url(../Image/bg10.jpg);
    background-size: cover;
    background-position: center;
}
.menu
{
    background-color: #434549;
    height: 100vh;
}

.menu .logo
{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 10px;
}

.menu ul
{
    list-style-type: none;
    padding: 0px;
}

.menu ul li
{
    border-bottom: 1px solid gray;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.menu ul li:hover
{
    background-color: #63C0E7;
}

.menu ul li a
{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.menu ul li a:hover
{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

h3
{
    text-align: center;
    font-family: calibri;
    margin-top: 10px;
    font-weight: bold;
}

.news
{
    
}

textarea
{
    margin-top: 60px;
    border-radius: 8px;
    background-image: url(../Image/bg14.jpg);
    border: none;
    border-width: 2px;
    color: white;
    padding-left: 5px;
    width: 60%;
    height: 150px;
}

input[type=submit] 
{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: gray;
    padding: 8px 40px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}
  
input[type=submit]:hover 
{
    background-color: black;
    color: white;
}