body
{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(../Image/bg5.jpg);
    background-size: cover;
    background-position: center;
    height: 150vh;
}

.signupbox
{
    background: black;
    margin-top: 20%;
    padding: 50px 30px;
    width: 365px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.signupbox .avatar
{
    border-radius: 100%;
    width: 100px;
    height: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.signupbox h1
{
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 15px 0px;
}

.signupbox input
{
    width: 100%;
    margin-bottom: 20px;
}
.signupbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.signupbox .dateofbirth h4
{
    font-size: 17px;
}

.dateofbirth select 
{
    background-color: transparent;
    padding: 6px;
    color: #fff;
    margin-right: 2px;
    margin-bottom: 15px;
    font-size: 14px;
} 

.dateofbirth select > option 
{
    background: black;
}

.signupbox .gender h4
{
    font-size: 17px;
    margin-bottom: 2px;
}
 .signupbox .gender input[type="radio"]
 {
    margin-right: 8px;
    margin-bottom: 0px;
    width: 15px;
    font-size: 20px;
 }

.city select 
{
    background-color: transparent;
    padding: 5px 13px;
    color: #fff;
    margin: 5px auto 15px auto;
    font-size: 13px;
}
.city select > option
{
    color: white;
    background-color: black;
}

.city h4 
{
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 17px;
}

.signas
{
    margin-top: -10px;
}

.signas select 
{
    background-color: transparent;
    padding: 5px 20px;
    color: #fff;
    margin: 5px auto 15px auto;
    font-size: 13px;
}

.signas select > option 
{
    color: #000;
}

.signas h4 
{
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 17px;
}

.signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 50px;
    background: #fb2525;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: -73px;
    display: block;
}

.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
    font-weight: bolder;
}