body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Front Page css*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Images/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul
{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li
{
    display: inline-block;
}

ul li a
{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover
{
    background-color: white;
    color: black;
}

.logo img
{
    float: left;
    width: 150px;
    height: auto;
}

.main
{
    max-width: 1200px;
    margin: auto;
}

.title
{
    position: absolute;
    top: 47%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.title h1
{
    color: white;
    font-size: 72px;
}

.slogan
{
    position: absolute;
    top: 54%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.slogan h1
{
    color: white;
    font-size: 40px;
}

.button
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

.btn:hover
{
    background-color: white;
    color: black;
}

/* end here*/


/*Login Page CSS*/

body{
    margin: 0;
    padding: 0;
    background: url(Images/pic1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}

/*end*/


