body
{
    background-image: url("../Image/bg8.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.Heading
{
    text-align: center;
    font-size: 60px;
    font-family: 'Courier';
    color: #fb2525;
    margin: 50px;
    font-weight: bold;
}

h4
{
    color: white;
    padding: 8px;
}

img
{
    width: 220px;
    border-radius: 20px;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: 5px;
    margin-left: 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.EditProfile
{
    margin-top: 20px;
}

.EditProfile a
{
    text-decoration: none;
    color: white;
    background-color: #fb2525;
    padding: 15px 63px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.EditProfile a:hover
{
    background-color: #ffc107;
    color: black;
}

h2
{
    font-size: 40px;
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.description
{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
    margin-bottom: 20px;
}
  
.description p
{
    margin: 5%;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}